.WeatherHomeCard {
  background-color: #1B1B1B;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #f5f5f5;
  border-radius: 20px;
  padding: 25px;
  position: relative;
  gap: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.back-image {
  background-image: url("../../../public/assets/image-card.jpg");
  background-size: cover;
  background-position: left;
  position: absolute;
  background-color: #ba81d7;
  border-radius: 20px 0 0 20px;
  width: 50%;
  margin: -25px;
  height: 100%;
  z-index: 0;
}

.card-city-today {
  background: #1d1d1d8b;
  border-radius: 10px;
  border: 1px solid #4646462e;
  z-index: 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.city-condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.condition-icon img {
  width: 90px;
  height: 90px;
}

.condition p {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.temperature {
  display: flex;
  justify-content: space-between;
}

.temperature-value {
  display: flex;
}

.date-change {
  display: flex;
  flex-direction: column;
}

.current-minmax {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.current-temperature h2 {
  font-weight: 600;
  color: #CBCBCB;
  font-size: 96px;
}

.min-max p {
  font-size: 36px;
}

.min-max p span:nth-child(1) {
  color: #8922DA;
}

.min-max p span:nth-child(2) {
  color: #3355CD;
}

.change-unit button {
  background-color: #313131;
  color: #CBCBCB;
  font-weight: 600;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.city-date h2 {
  font-weight: normal;
  font-size: 42px;
  line-height: 50px;
}

.city-date p {
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #CC8AFF;
}

.temperature-value {
  display: flex;
}

.details {
  display: flex;
  justify-content: space-between;
}

.feelslike {
  font-size: 16px;
  font-weight: 600;
  color: #CC8AFF;
} 

.more-datails-change {
  display: flex;
  align-items: center;
  gap: 20px;
}

.more-datails-change a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #8922DA;
}


.card-city-next {
  background: #1d1d1d8b;
  border-radius: 10px;
  border: 1px solid #4646462e;
  padding: 20px;
  z-index: 2;
  display: flex;
  width: 100%;
  gap: 10px;
  overflow-y: scroll;
}


.card-city-next::-webkit-scrollbar {
  width: 0;
  height: 10px; /* A altura só é vista quando a rolagem é horizontal */
}

.card-city-next::-webkit-scrollbar-track {
  background: transparent;
  padding: 2px;
}

.card-city-next::-webkit-scrollbar-thumb {
  background-color: #0f0f0f;
  border-radius: 5px;
}


@media (max-width: 570px) {
  .city-date h2 {
    font-size: 24px;
  }

  .city-date p {
    font-size: 10px;
  }

  .current-minmax {
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .current-temperature h2 {
    font-size: 40px;
  }

  .condition p {
    font-size: 10px;
  }

  .details p, .details a {
    font-size: 12px
  }

  .details {
    align-items: center;
  }

  .condition-icon img {
    width: 50px;
    height: 50px;
  }

  .min-max p {
    font-size: 24px;
  }

  .back-image {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
  }

  .change-unit button {
    width: 15px;
    height: 15px;
    font-size: 8px;
  }
}

@media (max-width: 375px) {
  .city-date h2 {
    font-size: 18px;
  }

  .city-date p {
    font-size: 10px;
  }

  .current-temperature h2 {
    font-size: 35px;
  }

  .condition p {
    font-size: 8px;
  }

  .details p, .details a {
    font-size: 10px
  }

  .min-max p {
    font-size: 18px;
  }
}