.Footer {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #161616;
  text-align: center;
}

.content {
  color: #cecece;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  align-items: center;
}

.content a {
  margin: 0 5px;
  text-decoration: none;
  color: #5a1a8a;
  border-bottom: 1px solid transparent;
  transition: all 0.5s;
}

.content a:hover {
  transition: all 0.5s;
  border-bottom: 1px solid #5a1a8a;
}

@media (max-width: 570px) {
  .content {
    font-size: 10px;
  }
}